*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  
  height: 100vh;
  display: flex;
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #18152c), url("../images/giganci.jpg");
  font-family: 'Open Sans', sans-serif;
}


.left{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right{
width: 30%;
display: flex;
flex-direction: column;
}


.question-container{
  height: 50vh;
}

.question{
  height: 100%;
  width: 100%;
  margin-top: 30px;
  background-image: url("../images/question.png");
  background-repeat: no-repeat;
  color: #222;
  font-size: 20px;
  padding: 30px;
  padding-right: 140px;
  margin-right: 200px;
  font-weight: bolder;
}



.questions-list{
  padding: 20px;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.questions-list-number{
  height: 60px;
  width: 60px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1c0a3d, #494f96);
}

.questions-list-number.active{
    border-color:tomato;
    color: tomato;
    background: linear-gradient(#311564, #595fa5);
  }


.money{
  height: 50vh;
  position: relative;
}

.timer{
  font-size: 40px;
  width: 70px;
  height: 70px;
  border: 5px solid white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: rgba(0,0,0, .5);

}

.sum{
  text-align: center;
  width: 400px;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  border: 5px solid white;
  position: absolute;
  top: 150px;
  left: calc(50% - 200px);
  background: linear-gradient(#2e5d92, #481c5c )
}

.answers{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.answer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 8vh;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  background: linear-gradient(#642d7e, #5a8fcc);
}
 
.answer:hover, .answer.active{
  background: rgb(16, 10, 94);
}

.answer.correct{
  background: rgb(17, 180, 85);
}

.answer.wrong{
  background: rgb(184, 44, 72);
}

.endGame{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 400px;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  border: 5px solid white;
  background: linear-gradient(#2e5d92, #481c5c )
}

.start{
  text-align: center;
  width: 400px;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  border: 5px solid white;
  position: absolute;
  top: 150px;
  left: calc(50% - 200px);
  background: linear-gradient(#2e5d92, #481c5c );
  color: white;
  cursor: pointer;
}
